* { box-sizing: border-box; }
body, html { height: 100%; margin: 0 auto;}
body { margin-left: 50px; background-color: #000000; color: #ffffff; }
h1 { font-family: "Playfair Display"; font-size: 30px; padding: 10px 0px; margin: 0px; }
.field-box { border: 2px solid #d0d0d0; float: left; }
.field { font-size: 0px; position: relative; max-width: 1000px; height: 600px; }
.field .tile { display: inline-block; width: 25px; height: 25px; background-size: 100%; background-image: url(images/tile-.png); z-index: 5; margin: 0; padding: 0;}
.field .tileW { display: inline-block; width: 25px; height: 25px; background-size: 100%; background-image: url(images/tile-W.png); }
.field .tileE { display: inline-block; width: 25px; height: 25px; background-size: 100%; background-image: url(images/tile-E.png); z-index: 10; }
.field .tileP { display: inline-block; width: 25px; height: 25px; background-size: 100%;background-image: url(images/tile-P.png); z-index: 10; }
.field .tileHP { display: inline-block; width: 25px; height: 25px; background-size: 100%;background-image: url(images/tile-HP.png); z-index: 9; }
.field .tileSW { display: inline-block; width: 25px; height: 25px; background-size: 100%; background-image: url(images/tile-SW.png); z-index: 9; }
.field .tileE .health { background-color: #ff0000; z-index: 11; left: 0px; top: 0px; height: 3px; }
.field .tileP .health { background-color: #00ff00; z-index: 11; left: 0px; top: 0px; height: 3px; }
.inventory-box { border: 2px solid #d0d0d0; float: left; }
.inventory { font-size: 0px; position: relative; max-width: 800px; height: 25px; }
.inventory .tileHP { display: inline-block; width: 25px; height: 25px; background-size: 100%;background-image: url(images/tile-HP.png); z-index: 9; }
.inventory .tileSW { display: inline-block; width: 25px; height: 25px; background-size: 100%; background-image: url(images/tile-SW.png); z-index: 9; }
.hidden {display: none;}
#options {font-size: 2rem;}
button {background-color: rgb(154, 154, 231); border-radius: 5px;}
.cl { clear: both; display: block; }